* {
    margin: 0;
    padding: 2;
}

h1, h2 {
    color: blueviolet;
}

.fundo {
    background-image: linear-gradient(45deg, #FF0033, #FF6600, #FFCC00, #00F2FE);
    height: 100vh;
    color: white;
    text-align: center;
}

.title {
    padding: 20px;
}

.calculadora {
  position  : absolute;
  background-color: #0004ff;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  padding: 15px;
  transform: translate(-50%, -50%);
}

